.header
  margin: 0
  padding: 0
  width: 100%
  height: auto
  display: flex

  .logo 
    margin: 10px 0 0 20px
    padding: 0
    a img
      width: 160px
      height: auto

  .navigation
    margin: 0 
    padding: 20px 0 0 0
    width: 100%
    ul
      display: flex
      justify-content: space-around
      flex-direction: row
      li
        list-style: none
        a
          color: #ffffff
          text-decoration: none
        a:hover,
        a:focus,
        a:active,
          color: #ffe81f

