html, body
  margin: 0
  padding: 0
  color: #ffffff
  background-color: #000000
  font-family: Arial
  text-align: center

  .main-container
    margin: 0
    padding: 0
    width: 100%
    height: 100vh
    

    // .flex-container
    //   display: flex
    //   flex-direction: column
  
      // .flex-coloumn
      //   margin: 0
      //   padding: 0
      //   width: 100%
      //   flex: 1 1 auto
